
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Martian+Mono:wght@500&display=swap');

.container-styling_dark{
    background-color: #62B6CB;
    color: #1B4965;
    text-align: center;
    justify-content: center;
    align-items: center;
    /*margin: auto;*/
    padding: 5px;
    font-size: 50px;
    border-radius: 10px;
    width: 1000px;
    font-family: 'Comfortaa', sans-serif;
}

.container-styling_light{
    background-color: #cadeef;
    color: #1B4965;
    text-align: center;
    justify-content: center;
    align-items: center;
    /*margin: auto;*/
    padding: 5px;
    font-size: 50px;
    border-radius: 10px;
    width: 1000px;
    font-family: 'Comfortaa', sans-serif;
}


.container-styling_logo{
    background-color: #62CBC4;
    border: 1px solid #ddd;
    width: 250px;
    padding: 10 px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;

}










.container-file{
    color: #5FA8D3;

}