.container-styling{
    background-color: #CAF0F8;
    color: #03045E;
    text-align: center;
    justify-content: center;
    align-items: center;
    /*margin: auto;*/
    padding: 5px;
    font-size: 50px;
    border-radius: 10px;
    width: 1000px;
}

.container-file{
    color: #0077B6;

}